
BODY
{
    background-color: gray;
    font-family: Arial;
    margin-top: -45px;
}
#big
{
    text-align: center;
    font-size: 70px;
    color: blue;
    background: linear-gradient(black 0%, gray 100%);
    font-weight:900;
}
.italic
{
    font-style: italic;
}
p
{
    display: inline;
}
#back
{
    width: 200px;
    height: 50px;
    border-radius: 20px;
}
#report
{
    background-color: gray;
    border-radius: 10px;
}
